<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UsefulCMS</title>
    <partial name="_Styling" />
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    <partial name="_Footer" />
    <partial name="_SiteScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
