@page
@model UsefulCMS.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["IconClass"] = "fa-user-cog";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
        <div class="tile is-parent">
            <article class="tile is-child notification is-white">
                <form method="post" role="form" asp-page-handler="changepassword">
                    <partial name="_ValidationSummary" />
                    @if (ViewData.ModelState["ChangePasswordInput"] != null)
                    {
                        foreach (var error in ViewData.ModelState["ChangePasswordInput"].Errors)
                        {
                            <div class="notification is-danger is-light">
                                @error.ErrorMessage
                            </div>
                        }
                    }
                    <div class="field">
                        <label asp-for="OldPassword"></label>
                        <div class="control has-icons-left">
                            <input asp-for="OldPassword"
                                   type="password"
                                   placeholder="********"
                                   class="input"
                                   required />
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <span asp-validation-for="OldPassword" class="help is-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="NewPasswordModel.Password"></label>
                        <div class="control has-icons-left">
                            <input asp-for="NewPasswordModel.Password"
                                   type="password"
                                   placeholder="********"
                                   class="input"
                                   required />
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <span asp-validation-for="NewPasswordModel.Password" class="help is-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="NewPasswordModel.PasswordConfirm"></label>
                        <div class="control has-icons-left">
                            <input asp-for="NewPasswordModel.PasswordConfirm"
                                   type="password"
                                   placeholder="********"
                                   class="input"
                                   required />
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <span asp-validation-for="NewPasswordModel.PasswordConfirm" class="help is-danger"></span>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-success">
                            Save Changes
                        </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>