@page
@model UsefulCMS.Pages.Account.ManageModel
@{
    ViewData["Title"] = "Account Management";
    ViewData["IconClass"] = "fa-user-cog";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="buttons">
        @if (Model.CanDelete)
        {
            <form asp-page-handler="delete" method="post">
                <button class="button is-danger modal-launcher" data-modal-id="delete-account-modal">Delete Account</button>
            </form>
        }
        <a class="button is-info" href="@Url.Page("/Account/ChangePassword")">Change Password</a>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile is-parent">
                <article class="tile is-child notification is-white">
                    <partial name="Manage/_AccountDetailsForm" />
                </article>
            </div>
        </div>
    </div>
</div>
<partial name="Manage/_DeleteAccountModal" />