body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body main {
    flex-grow: 1
}

.main-content-container {
    display: flex;
    flex-direction: column;

    .main-content-section {
        flex-grow: 1;
    }
}

.main-side-menu {
    padding: 1rem;
}