<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UsefulCMS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/dist/@@fortawesome/all.css" />
        <link rel="stylesheet" href="~/dist/bulma/bulma.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/@@fortawesome/all.min.css" />
        <link rel="stylesheet" href="~/dist/bulma/bulma.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <partial name="_NavigationBar" />
    <div class="columns">
        <div class="column is-narrow">
            <div class="container">
                <partial name="_SideMenu" />
            </div>
        </div>
        <div class="column">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer is-light">
        <div class="content has-text-centered">
            <p>
                <strong>&copy; @DateTime.Now.Year - Useful CMS</strong>
            </p>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
