<header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            <a class="navbar-item" href="@Url.Page("/Index")">
                <img src="~/img/logo-cms.png" alt="Useless CMS" width="auto" height="100%">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuItems">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenuItems" class="navbar-menu">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="@Url.Page("/Account/Manage")" class="button">
                                <span class="icon is-small">
                                    <i class="fas fa-user-cog"></i>
                                </span>
                            </a>
                            <a class="button is-primary" href="@Url.Page("/Account/Logout")">
                                <strong>Log Out</strong>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </nav>
</header>