
<aside class="menu main-side-menu">
    <p class="menu-label">
        <i class="fas fa-shapes"></i> General
    </p>
    <ul class="menu-list">
        <li><a href="@Url.Page("/Index")">Dashboard</a></li>
    </ul>
    @if (User.IsInRole("SuperAdministrator"))
    {
        <p class="menu-label">
            <i class="fas fa-users-cog"></i> Administration
        </p>
        <ul class="menu-list">
            <li><a href="@Url.Page("/Administration/Users/Index")">Users</a></li>
        </ul>
    }
</aside>
