@page
@using UsefulCore.Enums.Roles;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="section">
    <div class="container">
        <h1>this is the home page</h1>
    </div>
</section>