@model ManageModel
<h4 class="title is-4">Change Password</h4>
<form method="post" role="form" asp-page-handler="changepassword">
    @Html.HiddenFor(m => m.Username)
    @Html.HiddenFor(m => m.EmailAddress)
    <partial name="_ValidationSummary" />
    @if (ViewData.ModelState["ChangePasswordInput"] != null)
    {
        foreach (var error in ViewData.ModelState["ChangePasswordInput"].Errors)
        {
            <div class="notification is-danger is-light">
                @error.ErrorMessage
            </div>
        }
    }
    <div class="field">
        <label asp-for="ChangePasswordInput.OldPassword"></label>
        <div class="control has-icons-left">
            <input asp-for="ChangePasswordInput.OldPassword"
                   type="password"
                   placeholder="********"
                   class="input"
                   required />
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
        <span asp-validation-for="ChangePasswordInput.OldPassword" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="ChangePasswordInput.NewPassword"></label>
        <div class="control has-icons-left">
            <input asp-for="ChangePasswordInput.NewPassword"
                   type="password"
                   placeholder="********"
                   class="input"
                   required />
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
        <span asp-validation-for="ChangePasswordInput.NewPassword" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="ChangePasswordInput.NewPasswordConfirm"></label>
        <div class="control has-icons-left">
            <input asp-for="ChangePasswordInput.NewPasswordConfirm"
                   type="password"
                   placeholder="********"
                   class="input"
                   required />
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
        <span asp-validation-for="ChangePasswordInput.NewPasswordConfirm" class="help is-danger"></span>
    </div>
    <div class="field">
        <button type="submit" class="button is-success">
            Save Changes
        </button>
    </div>
</form>